@media max width 768px;

body {
  background-color: #ECECEC;
  color: #444444;
  padding: 0;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
    z-index: 2;
}
.left-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ECECEC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
  right: 0;
}
div.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: #36B748;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  z-index: 9999999;
}
div.navbar > ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  width:100%;
}
div.navbar > ul > li.nav-item {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbar > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbar > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
a.nav-button {
  font-family: 'Roboto';
  text-decoration: none;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
  transition: all 0.5s ease;
}
a.nav-button:hover {
  text-decoration: none;
}
li.active > a.nav-button {
  cursor: default;
}
.brand-logo {
  float: left;
  cursor: default;
}
.parallax {
  height: 70vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.parallax.p1 {
  background:linear-gradient(to bottom left, #6DD4FF, #255DE0) fixed 150% 0;
  background-size: cover;
  color: #fff;
  height: 85vh;
}
.parallax.p2 {
  background:#2DC35F fixed 150%;
  background-size: cover;
  color: #fff;
}
.parallax.p3 {
  background:#2DC35F fixed 150%;
  background-size: cover;
  color: #fff;
}
.parallax-text {
  width: 24em;
  position: fixed;
  top: 20%;
  left: 50%;
  border: .5em solid #fff;
  margin-left: -10%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
}
.parallax > div.blur-image {
  position: relative;
  width: 100%;
  height: 100%;
}
hgroup{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  border: 0px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0,0,0,.2);
  z-index: 2;
}
.row {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
    z-index: 10;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row > .col-3 {
  width: 32%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.row > .col-div {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
footer {
  width: 100%;
  padding-top: 20px;
  display: block;
  background-color: #000000;
}
.footer-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.container {
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
footer p {
  border-left: 3px solid #2DC35F;
  padding-left: 15px;
  text-indent: 20px;
  color: #ececec;
}

.card {
    width: 75%;
    height: 75%;
}








/* Gegambaran */
.matahari {
	position:absolute;
	background-size:70%;
	z-index:1;
	height: 2.5%;
	left: 75%;
	top: 3%;
	-webkit-animation: ckw 100s infinite;
  -moz-animation: ckw 100s infinite;
  animation: ckw 100s infinite;
}

.kertas{
  left: 30%;
  animation: float 3s infinite;
  width: 10%;
  height: 10%:
}

.pensil{
  left: 40%;
  animation: float 3s infinite;
  width: 2.5%;
  height: 30%;
  transform: rotateY(45deg);
}


.internal {
	position:relative;
	z-index:1;
	width: 65%;
	left: 17.5%;
	top: 3%;
	-webkit-animation: float 4s infinite;
  -moz-animation: float 4s infinite;
  animation: float 4s infinite;
}

.humas {
	position:relative;
	z-index:1;
	width: 65%;
	left: 17.5%;
	top: 3%;
	-webkit-animation: float 4s infinite;
  -moz-animation: float 4s infinite;
  animation: float 4s infinite;
}

.litbang {
	position:relative;
	z-index:1;
	width: 65%;
	left: 17.5%;
	top: 3%;
	-webkit-animation: float 4s infinite;
  -moz-animation: float 4s infinite;
  animation: float 4s infinite;
}


    

    
#Clouds {
  position: absolute;
  z-index:2;
  top: -86%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 10%;
  overflow: hidden;
  -webkit-animation: FadeIn 3s ease-out;
          animation: FadeIn 3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 270px;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: Float, FadeFloat;
          animation-name: Float, FadeFloat;
  z-index: 3;
}
.Cloud.Foreground {
  height: 50%;
  min-height: 70px;
  z-index: 3;
}
.Cloud.Background {
  height: 9.09090909%;
  min-height: 8px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
	z-index: 3;
}
@-webkit-keyframes Float {
  from {
    -webkit-transform: translateX(100%) translateZ(0);
            transform: translateX(100%) translateZ(0);
  }
  to {
    -webkit-transform: translateX(-15%) translateZ(0);
            transform: translateX(-15%) translateZ(0);
  }
}
@keyframes Float {
  from {
    -webkit-transform: translateX(100%) translateZ(0);
            transform: translateX(100%) translateZ(0);
  }
  to {
    -webkit-transform: translateX(-15%) translateZ(0);
            transform: translateX(-15%) translateZ(0);
  }
}
/*
@keyframes Float {
  from { transform: translateX(100%) translateY(-100%) translateZ(0); }
  50% { transform: translateX(55%) translateY(0) translateZ(0); }
  to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
}
*/
@-webkit-keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
.Cloud:nth-child(10) {
  -webkit-animation-delay: -184.61538462s;
          animation-delay: -184.61538462s;
  top: 60%;
}
.Cloud.Foreground:nth-child(10) {
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  height: 35%;
}
.Cloud.Background:nth-child(10) {
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  height: -3.40909091%;
}
.Cloud:nth-child(9) {
  -webkit-animation-delay: -166.15384615s;
          animation-delay: -166.15384615s;
  top: 54%;
}
.Cloud.Foreground:nth-child(9) {
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  height: 32.5%;
}
.Cloud.Background:nth-child(9) {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  height: -2.15909091%;
}
.Cloud:nth-child(8) {
  -webkit-animation-delay: -147.69230769s;
          animation-delay: -147.69230769s;
  top: 48%;
}
.Cloud.Foreground:nth-child(8) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  height: 30%;
}
.Cloud.Background:nth-child(8) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  height: -0.90909091%;
}
.Cloud:nth-child(7) {
  -webkit-animation-delay: -129.23076923s;
          animation-delay: -129.23076923s;
  top: 42%;
}
.Cloud.Foreground:nth-child(7) {
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  height: 27.5%;
}
.Cloud.Background:nth-child(7) {
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  height: 0.34090909%;
}
.Cloud:nth-child(6) {
  -webkit-animation-delay: -110.76923077s;
          animation-delay: -110.76923077s;
  top: 36%;
}
.Cloud.Foreground:nth-child(6) {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  height: 25%;
}
.Cloud.Background:nth-child(6) {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  height: 1.59090909%;
}
.Cloud:nth-child(5) {
  -webkit-animation-delay: -92.30769231s;
          animation-delay: -92.30769231s;
  top: 30%;
}
.Cloud.Foreground:nth-child(5) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  height: 22.5%;
}
.Cloud.Background:nth-child(5) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  height: 2.84090909%;
}
.Cloud:nth-child(4) {
  -webkit-animation-delay: -73.84615385s;
          animation-delay: -73.84615385s;
  top: 24%;
}
.Cloud.Foreground:nth-child(4) {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  height: 20%;
}
.Cloud.Background:nth-child(4) {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  height: 4.09090909%;
}
.Cloud:nth-child(3) {
  -webkit-animation-delay: -55.38461538s;
          animation-delay: -55.38461538s;
  top: 18%;
}
.Cloud.Foreground:nth-child(3) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  height: 17.5%;
}
.Cloud.Background:nth-child(3) {
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  height: 5.34090909%;
}
.Cloud:nth-child(2) {
  -webkit-animation-delay: -36.92307692s;
          animation-delay: -36.92307692s;
  top: 12%;
}
.Cloud.Foreground:nth-child(2) {
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  height: 15%;
}
.Cloud.Background:nth-child(2) {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  height: 6.59090909%;
}
.Cloud:nth-child(1) {
  -webkit-animation-delay: -18.46153846s;
          animation-delay: -18.46153846s;
  top: 6%;
}
.Cloud.Foreground:nth-child(1) {
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  height: 12.5%;
}
.Cloud.Background:nth-child(1) {
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  height: 7.84090909%;
}
.mendungA {
  width: 10%;
    z-index:2;
}
.mendungB {
  width: 10%;
    z-index: 2;
}